@model List<Professor>

<table class="table">
    <thead>
        <tr>
         
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Area de Atuação</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Formação</th>
            <th scope="col">Telefone</th>
            <th scope="col">CEP</th>


        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Professor professor in Model)
            {
                <tr>
                    <td>@professor.Nome</td>
                    <td>@professor.Cpf</td>
                    <td>@professor.Area_atuacao</td>
                    <td>@professor.Disciplina</td>
                    <td>@professor.Email </td>
                    <td>@professor.StatusProfessor </td>
                    <td>@professor.Formacao_academica </td>
                    <td>@professor.Telefone </td>
                    <td>@professor.Cep </td>
 
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Professor" asp-action="Editar" asp-route-id="@professor.Id">Editar</a>
                        </div>
                    </td>
                    <td>


                    <td>
                        <form asp-controller="Professor" asp-action="DeletarProfessor" asp-route-id="@professor.Id" method="post">
                            <button type="submit" class="btn btn-danger">Apagar</button>
                        </form>
                    </td>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-info" type="button" asp-controller="Professor" asp-action="AdicionarProfessor"> Adicionar Professor</a>
</div>